body{
	background: #9F1F27;
}

.coverPhoto{
	width: 100%;
	padding-top: 8%;
	padding-bottom: 0%;
	background: #9F1F27;
}

.logo{
	position: absolute;
	margin-top: -23%; 
	margin-left: 45%;
	width: 10%;
}

.guide{
	background: #9F1F27;
	padding-top: 2%;
	text-align: center;
	color: #ffffff;
	font-size: 1em;
}